<h1>listing all articles</h1>
<p>
  <%= link_to "create new article", new_article_path %>
</p>


  <table>
    <tr>
      <td>
        <strong>title</strong>
      </td>
      <td>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </td>
      <td>
        <strong>description</strong>
      </td>
    </tr>
<% @articles.each do |article| %>
    <tr>
      <td>
        <%= article.title %>
      </td>
      <td>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </td>
      <td>
        <%= article.description %>
      </td>
      <td>
        <%= link_to "edit", edit_article_path(article) %>
      </td>
      <td>
        <%= link_to "show", article_path(article) %>
      </td>
      <td>
        <%= link_to "delete", article_path(article), method: :delete, data: {confirm: "Are u sure?"}  %>
      </td>
    </tr>
    <% end %>
  </table>
