<%= render 'layouts/messages' %>
<h1>showing selected article</h1>

<p> 
  Title: <%= @article.title %> </br></br>
  
  Description: <%= @article.description %> 
</p>
<%= link_to "listing", articles_path %>
